<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TMRRW INC">
<meta name="google-site-verification" content="2f1g2og00TilfT9rEFXqG3vX8cHWAO5SRa1VMnprPws" />
    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115748213-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-115748213-1');
</script>
    <title>altspace - Coworking for the Sarnia-Lambton Area.</title>

</head>

<body class="has-loading-screen links-hover-effect" data-spy="scroll" data-target=".navigation">


    <style>
 .owl-stage-outer {
     height: 100% !important;
 }

 .underline .hover-element {
     color: #161616 !important;
 }

 .contact-data .hover-element {
     color: white !important;
 }
    </style>

    <div class="page-wrapper" id="page-top">
        <header id="page-header">
            <nav class="navigation background-is-dark">
                <div class="container">
                    <div class="wrapper">
                        <div class="left">
<a href="/" class="brand" style="width: 20%;">
                                <img src="assets/img/altspacelogo.png" alt="">
                            </a>
                        </div>
                        <!--end left-->
                        <div class="right">
                            <ul class="nav navigation-links animate">
                                <li>
                                    <a href="#page-top" class="scroll">Home</a>
                                </li>
                                <li>
                                    <a href="#about" class="scroll">About</a>
                                </li>
                                <li>
                                    <a href="#gallery" class="scroll">Gallery</a>
                                </li>
                                <li>
                                    <a href="#pricing" class="scroll">Pricing</a>
                                </li>
                                <li>
                                    <a href="#contact" class="scroll">Contact</a>
                                </li>
                            </ul>
                            <div class="nav-btn">
                                <figure></figure>
                                <figure></figure>
                                <figure></figure>
                            </div>
                        </div>
                        <!--end right-->
                    </div>
                </div>
                <!--end container-->
            </nav>
            <!--end navigation-->
            <div class="hero-section background-is-dark">
                <div class="wrapper">
                    <div class="hero-title">
                        <div class="container">
                            <h1 class="animate">Hey Sarnia,
                                <br>Coworking is coming!</h1>
<div class="shortcode-block">
<a href="https://goo.gl/forms/g7nFynNKu600H1gG3" class="btn btn-primary btn-rounded" style="background-color: white; font-size: 1.3em;">Apply for early access</a>
</div>
<!-- <form class="animate" id="form-hero" action="https://tmrrwinc.us17.list-manage.com/subscribe/post?u=840d9f65ab25df182b44c8aae&amp;id=de3c802aed" method="post">

                        <label for="form-hero-email">Enter your email for the latest news.</label>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="input-group">
                                            <input type="email" class="form-control" id="form-hero-email" name="EMAIL" placeholder="Your email" required="">
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit" name="subscribe">
                                                    <i class="arrow_right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form> -->
                            <!--end form-hero-->
                        </div>
                        <!--end container-->
                    </div>
                    <!--end hero-title-->
                </div>
                <!--end wrapper-->
                <div class="owl-carousel" data-owl-dots="1" data-owl-nav="1" data-owl-autoplay="1" data-owl-loop="1" data-owl-fadeout="1">
                    <div class="hero-slide">
                        <div class="bg-transfer">
                            <img src="assets/img/imagealt.jpg" alt="">
                        </div>
                    </div>
                    <div class="hero-slide">
                        <div class="bg-transfer">
                            <img src="assets/img/imagealt.jpg" alt="">
                        </div>
                    </div>
                    <div class="hero-slide">
                        <div class="bg-transfer">
                            <img src="assets/img/imagealt.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--end owl-carousel-->
            </div>
            <!--end hero-section-->
        </header>
        <!--end page-header-->

        <div id="page-content">

          <div class="container-fluid" style="padding: 0 !important; background-color: white;">
          <div class="block background-is-dark">
              <div class="marketing-banner">
                  <div class="center">
                      <h2 style="color: #161616;">Help shape altspace!
                          <a href="https://goo.gl/forms/Xp6hZHIRA2B68cw62" class="underline" style="color: #161616 !important;">Complete our survey.</a>
                      </h2>
                      <p style="color: #161616; font-weight: bold;">Participants will be entered into a draw to WIN 6 months FREE coworking</p>
                  </div>
              </div>
              <!--end marketing-banner-->
              <div class="background-wrapper">
                  <div class="bg-transfer opacity-15">
                      <img src="assets/img/gallery-big-01.jpg" alt="">
                  </div>
                  <div class="background-color background-color-black"></div>
              </div>
              <!--end background-wrapper-->
          </div>
          <!--end block-->
      </div>
      <!--end container-->




            <div class="block background-is-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="feature has-icon" data-scroll-reveal="enter left and move 20px">
                                <i class="icon">
                                    <img src="assets/img/icon-white-shield.png" alt="">
                                </i>
                                <!--end icon-->
                                <div class="description">
                                    <h3>Office Amenities</h3>
                                    <p>Hi-Speed internet. Printer. Private Chat room. Meeting Space. Lounge Area. On-site cafe and cafeteria. Everything you need to crush it all week long.
                                    </p>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end feature-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="feature has-icon" data-scroll-reveal="enter bottom and move 20px">
                                <i class="icon">
                                    <img src="assets/img/icon-white-pin.png" alt="">
                                </i>
                                <!--end icon-->
                                <div class="description">
                                    <h3>Downtown Location</h3>
                                    <p>Located in Sarnia's downtown. altspace is just a few short minutes from the waterfront, library and bus terminal. Find us at the Corner of Christina and Cromwell.
                                    </p>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end feature-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4 col-sm-4 group-column">
                            <div class="feature has-icon" data-scroll-reveal="enter right and move 20px">
                                <i class="icon">
                                    <img src="assets/img/group.png" alt="">
                                </i>
                                <!--end icon-->
<div class="description" style="    position: absolute;
    z-index: 99999999;">
                                    <h3>Invaluable Culture</h3>
                                    <p>Come for the wi-fi and coffee, stay for the culture and the people. We're creating a space where we build, hustle, create, collaberate and innovate together.
                                    </p>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end feature-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
                <div class="background-wrapper">
                    <div class="bg-transfer opacity-15">
                        <img src="assets/img/bg-01.jpg" alt="">
                    </div>
                    <div class="background-color background-color-black"></div>
                </div>
                <!--end background-wrapper-->
            </div>
            <!--end block-->

            <div class="block" id="about">
                <div class="container">
                    <h2>Why altspace?</h2>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h3>Place where you find yourself</h3>
<p style="margin-bottom: 2em;">Coworking is a proven solution around the world for hustlers working in the “grey area”. altspace hopes to serve the void
    and bring to Sarnia an incubator of new ideas, innovation and collaboration.
                            </p>
                                <div class="panel-group background-solid" id="faq" role="tablist" aria-multiselectable="true" data-scroll-reveal="enter left and move 20px after">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="faq1">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#faq" href="#answer1" aria-expanded="true" aria-controls="answer1">Meeting with Clients?</a>
                                            </h4>
                                        </div>
                                        <div id="answer1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faq1">
                                            <div class="panel-body">
                                                <p>altspace members can meet with colleagues and clients at their desk or even in an enclosed meeting area.
                                                </p>
                                            </div>
                                            <!--/ .panel-body-->
                                        </div>
                                        <!--/ .panel-collapse-->
                                    </div>
                                    <!--/ .panel-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="faq2">
                                            <h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#faq" href="#answer2" aria-expanded="true" aria-controls="answer2">Working from home?</a>
                                            </h4>
                                        </div>
                                        <div id="answer2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq2">
                                            <div class="panel-body">
                                                <p>Working from home can sometimes be unproductive. There has never been an opportunity like this in Sarnia, ON, a solution
                                                    for small teams or solo operators. altspace members get to set up shop in a space that takes care of everything so they
                                                    can focus on what they do best.
                                                </p>
                                            </div>
                                            <!--/ .panel-body-->
                                        </div>
                                        <!--/ .panel-collapse-->
                                    </div>
                                    <!--/ .panel-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="faq3">
                                            <h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#faq" href="#answer3" aria-expanded="true" aria-controls="answer3">Starting a business?</a>
                                            </h4>
                                        </div>
                                        <div id="answer3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq3">
                                            <div class="panel-body">
<p>Commercial leasing is complicated, long term and pricey... especially when you get into setting up workstations and designing
    an office space. altspace offers a low risk solution for consultants, freelancers, startups and more. Everything is here
    for you from day 1 and you pick how often and how long you want to be here.
                                                </p>
                                            </div>
                                            <!--/ .panel-body-->
                                        </div>
                                        <!--/ .panel-collapse-->
                                    </div>
                                    <!--/ .panel-->
                                </div>
                        </div>
                        <!--end col-md-6-->
                        <!--end col-md-6-->

                        <!--end col-md-6-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
                <div class="background-wrapper">
                    <div class="background-color background-color-black opacity-5"></div>
                </div>
                <!--end background-wrapper-->
            </div>
            <!--end block-->

            <div class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="stage completed" data-scroll-reveal="enter left and move 20px">
                                <div class="icon">
                                    <i class="icon_check"></i>
                                </div>
                                <!--end icon-->
                                <div class="description">
                                    <h3>1. Stage</h3>
                                    <h2>Planning</h2>
                                    <figure>Completed</figure>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end stage-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="stage completed" data-scroll-reveal="enter left and move 20px after 0.2s">
                                <div class="icon">
                                    <i class="icon_check"></i>
                                </div>
                                <!--end icon-->
                                <div class="description">
                                    <h3>2. Stage</h3>
                                    <h2>Building</h2>
                                    <figure>Completed</figure>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end stage-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="stage in-progress" data-scroll-reveal="enter left and move 20px after 0.4s">
                                <div class="icon">
                                    <i class="icon_hourglass"></i>
                                </div>
                                <!--end icon-->
                                <div class="description">
                                    <h3>3. Stage</h3>
                                    <h2>Preparing Space</h2>
                                    <figure>In progress</figure>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end stage-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="stage not-completed" data-scroll-reveal="enter left and move 20px after 0.6s">
                                <div class="icon">
                                    <i class="icon_close"></i>
                                </div>
                                <!--end icon-->
                                <div class="description">
                                    <h3>4. Stage</h3>
                                    <h2>Grand Opening</h2>
                                    <figure>Not completed</figure>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end stage-->
                        </div>
                        <!--end col-md-3-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end block-->

            <div class="block">
                <div class="container">
                    <div class="detail left-align">
                        <div class="title">
                        <h3 class="framed">Location and Culture</h3>
                        </div>
                        <!--end title-->
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <div class="gallery" data-scroll-reveal="enter left and move 20px after">
                                    <div class="owl-carousel one-item-carousel" data-owl-items="1" data-owl-margin="0" data-owl-nav="0" data-owl-dots="1">
<img src="assets/img/Location.jpg" alt="">

                                        <img src="assets/img/for-smart-21-story.jpg" alt="">
                                        <img src="assets/img/Outside_Side.jpg" alt="">
                                    </div>
                                </div>
                                <!--end gallery-->
                            </div>
                            <!--end col-md-7-->
                            <div class="col-md-5 col-sm-5">
                                <div class="description" data-scroll-reveal="enter right and move 20px">

<p>altspace is located in the heart of Sarnia’s downtown core, just a few minutes walking distance from our waterfront, bus
    terminal, local craft brewery, library and downtown’s cultural district. We know loving your work is important -- but
    where you do it is important too!
                                    </p>
<p>Culture is the most important part of our mission at altspace. We strive to create a common space where people are creative,
    respectful and innovative. altspace is more than saving money by sharing, it's being able to better everything we do by
    working together.
                                    </p>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end col-md-5-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end detail-->
                    <div class="detail right-align">
                        <div class="title">
<h3 class="framed">Space and Amenities </h3>
                        </div>
                        <!--end title-->
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="description" data-scroll-reveal="enter left and move 20px after">
<p>altspace is 3,000 square feet of industrial office space on the second floor of old Taylor's Furniture building. Members will
    have access to either a dedicated desk or flex desk as well as meeting space, lounge space and group collaboration space.</p>
<p>Our members will be taking advantage of a 300mbps download and 40mbps upload connectivity (fibre coming) as well as printers
    and other shared office supplies. altspace is position right above the Downtown Market so all members will have access
    to onsite cafeteria and dining area. The markets offering is growing and currently offers: cafe beverages, prepared food,
    deserts, kombucha and more! </p>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end col-md-5-->
                            <div class="col-md-7 col-sm-7">
                                <div class="gallery" data-scroll-reveal="enter right and move 20px">
                                    <div class="owl-carousel one-item-carousel" data-owl-items="1" data-owl-margin="0" data-owl-nav="0" data-owl-dots="1">
                                        <img src="assets/img/Space_a.jpg" alt="">
                                        <img src="assets/img/space_a2.jpg" alt="">
                                        <img src="assets/img/space_a3.jpg" alt="">
                                    </div>
                                </div>
                                <!--end gallery-->
                            </div>
                            <!--end col-md-7-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end detail-->
                </div>
                <!--end container-->
            </div>
            <!--end block-->

            <div class="block" id="gallery">
                <div class="container">
                    <h2>Gallery.</h2>
                </div>
                <div class="owl-carousel big-gallery" data-owl-items="3" data-owl-auto-width="1" data-owl-nav="1" data-owl-dots="0" data-owl-center="1"
                    data-owl-loop="1" data-owl-nav-container="#big-gallery-nav">
                    <div class="slide">
                        <div class="container">
                            <img src="assets/img/Space_a.jpg" alt="">
                            <div class="description">
                                <h3 class="framed">Front View</h3>
                            </div>
                        </div>
                        <!--end container-->
                    </div>
                    <!--end slide-->
                    <div class="slide">
                        <div class="container">
                            <img src="assets/img/Outside_Side.jpg" alt="">
                            <div class="description">
                                <h3 class="framed">Side View</h3>
                            </div>
                        </div>
                        <!--end container-->
                    </div>
                    <!--end slide-->
                    <div class="slide">
                        <div class="container">
                            <img src="assets/img/Outside_front.jpg" alt="">
                            <div class="description">
                                <h3 class="framed">Street View</h3>
                            </div>
                        </div>
                        <!--end container-->
                    </div>
                    <!--end slide-->
                </div>
                <!--end big-gallery-->
                <div class="container">
                    <div class="owl-nav-wrapper">
                        <div class="owl-nav" id="big-gallery-nav"></div>
                    </div>
                    <!--end owl-nav-wrapper-->
                </div>
                <!--end container-->
            </div>
            <!--end block-->

            <div class="block" id="pricing">
                <div class="container">
                    <h2>Shared Space Desks</h2>
                    <div class="row">
                        <div class="pricing-boxes">
                            <div class="col-md-3 col-sm-3">
                                <div class="price-box description">
                                    <h3>Choose your desk</h3>
<div class="price old"> &nbsp;</div>
<div class="price"> &nbsp;</div>
                                    <div class="values list-values">
                                        <figure>Office Amendities</figure>
                                        <figure>Access 6 days / week</figure>
                                        <figure>Meeting Space</figure>
                                        <figure>Over 200 hours / month</figure>
                                        <figure>Unlimited Access</figure>
                                        <figure>Dedicated Desks</figure>
                                        <figure>Team Perks</figure>
                                    </div>
                                </div>
                                <!--end description-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-3">
                                <div class="price-box framed" data-scroll-reveal="enter bottom and move 20px">
                                    <h3>Flex Desk</h3>
                                    <div class="price old">&nbsp;</div>
                                    <div class="price">Pricing TBD</div>
                                    <div class="values">

                          <div class="checks">
                        <figure class="available">
                            <i class="icon_check"></i>
                        </figure>
                        <figure class="available">
                            <i class="icon_check"></i>
                        </figure>
                        <figure class="available">
                            <i class="icon_check"></i>
                        </figure>
                        <figure class="available">
                            <i class="icon_check"></i>
                        </figure>
                                                                <figure class="not-available">
                                                                    <i class="icon_close"></i>
                                                                </figure>
                        <figure class="not-available">
                            <i class="icon_close"></i>
                        </figure>
                        <figure class="not-available">
                            <i class="icon_close"></i>
                        </figure>
</div>


<div class="words">
    <figure>Office Amendities</figure>
    <figure>Access 6 days / week</figure>
    <figure>Meeting Space</figure>
    <figure>Over 200 hours / month</figure>
</div>


                                    </div>

                                </div>
                                <!--end price-box-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-3">
                                <div class="price-box framed " data-scroll-reveal="enter bottom and move 20px after 0.2s">

                                    <h3 style="font-size: 21px;">Dedicated Desk</h3>
<div class="price old">&nbsp;</div>
<div class="price">Pricing TBD</div>
                                    <div class="values">

                                        <div class="checks">
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="not-available">
    <i class="icon_close"></i>
</figure>
</div>

<div class="words">
<figure>Office Amendities</figure>
<figure>Access 6 days / week</figure>
<figure>Meeting Space</figure>
<figure>Over 200 hours / month</figure>
<figure>Unlimited Access</figure>
</div>
                                    </div>

                                </div>
                                <!--end price-box-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-3">
                                <div class="price-box framed promoted" data-scroll-reveal="enter bottom and move 20px after 0.4s">
                                    <div class="promotion-title">
                                        <span>Best value for money</span>
                                    </div>
                                    <h3>Desk Cluster</h3>
<div class="price old">&nbsp;</div>
<div class="price">Pricing TBD</div>
                                    <div class="values">
                                        <div class="checks">
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
<figure class="available">
    <i class="icon_check"></i>
</figure>
</div>
<div class="words">

<figure>Office Amendities</figure>
<figure>Access 6 days / week</figure>
<figure>Meeting Space</figure>
<figure>Over 200 hours / month</figure>
<figure>Unlimited Access</figure>
<figure>Dedicated Desks</figure>
<figure>Team Perks</figure>
</div>

                                    </div>

                                </div>
                                <!--end price-box-->
                            </div>
                            <!--end col-md-3-->
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end block-->

            <div class="block">
<div class="container" style="margin-bottom: 7em;">
                    <h2>FAQ.</h2>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 equal-height">
                            <div class="panel-group background-solid" id="faqtwo" role="tablist" aria-multiselectable="true" data-scroll-reveal="enter left and move 20px after">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="faq4">
                                        <h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#faqtwo" href="#answer4" aria-expanded="false" aria-controls="answer4">How strong is the security? </a>
                                        </h4>
                                    </div>
                                    <div id="answer4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq4">
                                        <div class="panel-body">
<p>Members with dedicated desks will each have a key lock drawer unit by their desk to securely store all personal and private
    belongings. The building as whole is armed with a security system as well as motion sensing cameras. All access is locked
    after office hours.
                                            </p>
                                        </div>
                                        <!--/ .panel-body-->
                                    </div>
                                    <!--/ .panel-collapse-->
                                </div>
                                <!--/ .panel-->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="faq5">
                                        <h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#faqtwo" href="#answer5" aria-expanded="true" aria-controls="answer5">Will the space get noisy or messy? </a>
                                        </h4>
                                    </div>
                                    <div id="answer5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq5">
                                        <div class="panel-body">
<p>altspace members must go through an application process to ensure each member is the right fit. We strive to create a space
    that ensures the safety and productivity of all members. That means quality control and regular maintenance at the end
    of each day.
                                            </p>
                                        </div>
                                        <!--/ .panel-body-->
                                    </div>
                                    <!--/ .panel-collapse-->
                                </div>
                                <!--/ .panel-->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="faq6">
                                        <h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#faqtwo" href="#answer6" aria-expanded="true" aria-controls="answer6">What are the hours of operation? </a>
                                        </h4>
                                    </div>
                                    <div id="answer6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq6">
                                        <div class="panel-body">
<p>When we begin our hours will be Monday-Saturday 9am-6pm, however these are subject to change.
                                            </p>
                                        </div>
                                        <!--/ .panel-body-->
                                    </div>
                                    <!--/ .panel-collapse-->
                                </div>
                                <!--/ .panel-->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="faq7">
                                        <h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#faqtwo" href="#answer7" aria-expanded="true" aria-controls="answer7">How do I get started? </a>
                                        </h4>
                                    </div>
                                    <div id="answer7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq7">
                                        <div class="panel-body">
<p>We’re still in preparation to start June of 2018, fill out our application form here for an opportunity to get in opening
    week at early bird pricing!

                                            </p>
                                        </div>
                                        <!--/ .panel-body-->
                                    </div>
                                    <!--/ .panel-collapse-->
                                </div>
                                <!--/ .panel-->
                            </div>
                            <!--/ .panel-group-->
                        </div>
                        <div class="col-md-4 col-sm-4 equal-height">
                            <div class="framed vertical-aligned-wrapper" data-scroll-reveal="enter right and move 20px">
<form class="inputs-underline vertical-aligned-element middle" id="form-hero" action="https://tmrrwinc.us17.list-manage.com/subscribe/post?u=840d9f65ab25df182b44c8aae&amp;id=de3c802aed"
    method="post">

<label>Subscribe to our newsletter to get the latest information</label>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group">
                                            <input type="email" class="form-control" id="form-hero-email" name="EMAIL" placeholder="Your email" required="">
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit" name="subscribe">
                                                    <i class="arrow_right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>


                                <!--end form-->
                            </div>
                            <!--end framed-->
                        </div>
                    </div>
                </div>
                <!--end container-->
            </div>
            <!--end block-->

            <div class="container">
                <div class="block background-is-dark">
                    <div class="testimonials">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                                <div class="owl-carousel" data-owl-nav="0" data-owl-dots="1">
                                    <blockquote>
                                        <p>Alone we can do so little, together we can do so much.</p>
                                        <footer>Hellen Keller
                                            <figure>American author, political activist and lecturer</figure>
                                        </footer>
                                    </blockquote>

                                    <!--end blockquote-->
                                </div>
                            </div>
                            <!--end col-md-8-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end testimonials-->
                    <div class="background-wrapper">
                        <div class="bg-transfer opacity-15">
                            <img src="assets/img/gallery-big-01.jpg" alt="">
                        </div>
                        <div class="background-color background-color-black"></div>
                    </div>
                    <!--end background-wrapper-->
                </div>
                <!--end block-->
            </div>
            <!--end container-->

            <div class="block" id="contact">
                <div class="container">
                    <h2>Contact.</h2>
                    <div class="contact map">
                        <div class="row">
                            <div class="col-md-12 col-sm-12" data-scroll-reveal="enter bottom and move 20px">
                                <h3>Map</h3>
                                <div class="map" id="map"></div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h3>Address</h3>
                                        <address>
                                            altspace
                                            <br> 140 Christina Street North
                                            <br> Sarnia ON, N7T 5T9
                                            <br>
                                            <br>
                                            <!-- <a href="#">hello@example.com</a> -->
                                        </address>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Social</h3>
                                        <div class="social">
<a href="https://www.facebook.com/altspacecowork/" class="roll-effect">
                                                <i class="social_facebook_circle"></i>Facebook</a>
<a href="https://www.instagram.com/altspacecowork/">
                                                <i class="social_instagram_circle"></i>Instagram</a>

                                        </div>
                                        <!--end social-->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end row-->
                    </div>
                    <!--end contact map-->
                </div>
                <!--end container-->
            </div>
            <!--end block-->




            <!--end block-->


        </div>
        <!--end page-content-->

        <footer id="page-footer" class="block background-is-dark">
            <div class="container">
                <a href="#" class="brand">
<img src="assets/img/altspacelogo.png" alt="" style="    width: 20%;">
                </a>
                <!--end brand-->
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <p>
                            altspace coworking. Powered by TMRRW INC.
                        </p>
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-8 col-sm-8">
                        <div class="contact-data text-align-right">
                            <a href="#" style="color: white !important;">contact@altspaceco.work</a>
                        </div>
                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
                <hr>
                <div class="note">(C) 2018 All Rights Reserved</div>
                <!--end note-->

            <!--end container-->
            <div class="background-wrapper">
                <div class="bg-transfer opacity-30">
                    <img src="assets/img/footer-bg.jpg" alt="">
                </div>
                <div class="background-color background-color-black"></div>
            </div>
            <!--end background-wrapper-->
        </footer>
        <!--end page-footer-->

    </div>
    <!--end page-wrapper-->

<!--end outer-wrapper-->
<script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDT_ZxT8z8uMdPtJVX0mdwYsCuTxCV09TE"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="assets/js/scrollReveal.min.js"></script>
<!--<script type="text/javascript" src="assets/js/jquery.appear.js"></script>-->
<!--<script type="text/javascript" src="assets/js/waypoints.min.js"></script>-->
<script type="text/javascript" src="assets/js/readmore.min.js"></script>
<script type="text/javascript" src="assets/js/pace.min.js"></script>

<script type="text/javascript" src="assets/js/custom.js"></script>

<script type="text/javascript">
 var latitude = 42.971804;
 var longitude = -82.407050;
    var markerImage = "assets/img/map-marker.png";
    var mapTheme = "light";
    google.maps.event.addDomListener(window, 'load', simpleMap(latitude, longitude, markerImage, mapTheme));
</script>


</body>
